%p= t('.greeting', :recipient => @resource.first_name, :default => "Welcome #{@resource.first_name}!")
%p= t('.instruction', :default => "You really wanna see the secret, huh? So please, confirm your account email through the link below:")
%p= link_to t('.action', :default => "Confirm my account"),                                               |
    confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) |
